*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.innerContainer{
  align-items: center;
  margin-bottom: 50px;
}
.form{
  align-items: center;
}
.innerInput{
  padding: 5px;
  width: 250px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #bababa;
}
.innerSubmit{
  padding: 5px;
  margin-left: 10px;
  width: 80px;
}
.taskDiv{
  display: flex;
  flex-direction: row;
}
.taskP{
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  outline: none;
  width: 250px;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.taskDone{
  margin-left: 10px;
  outline: none;
  border: none;
}
.taskClose{
  margin-left: 10px;
  outline: none;
  border: none;
  margin-right: 20px;
}
